@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.ck-editor__editable_inline {
    min-height: 470px;
    max-height: 470px;
}

.arch-noteslist-placeholder-card > div.ant-card-body {
    display: none;
}