.mainLayout {
    padding: 0;
    margin: 0;
}

.header {
    margin: 0;
    padding: 0 25px;
    height: 50px;
}

.brandNameText {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: -8px;
}

.content {
    min-height: 504px;
    padding: 20px;
}

.footer {
    text-align: center;
}

.bordered {
    border: 1px solid #ccc;
}

.contentRow {
    min-height: 460px;
}

.contentRowLeftCol {
}

.contentRowRightCol {
}
