.mainLayout {
    padding: 0;
    margin: 0;
}

.header {
    margin: 0;
    padding: 5px 25px;
    height: 50px;
    background-color: crimson;
}

.brandNameText {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.content {
    min-height: 500px;
    padding: 20px;
}

.footer {
    text-align: center;
    padding-bottom: 15px;
}

.footerText {
    /*margin-top: -30px;*/
}

.bordered {
    border: 1px solid #ccc;
}

.contentRow {
    min-height: 460px;
}

.contentRowLeftCol {
}

.contentRowRightCol {
    min-height: 300px;
}

.signIn {
    float: right;
}
